@font-face {
    font-family: "pirata";
    src: url(./assets/PirataOne-Regular.ttf);
  }

@keyframes throwFromRight {
  0% {
    transform: translateX(10vw) scaleX(-1) scale(2);
    opacity: 0;
  }
  70% {
    transform: translateX(0) scaleX(-1) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scaleX(-1) scale(1);
    opacity: 1;
  }
}

@keyframes throwFromLeft {
  0% {
    transform: translateX(-10vw) scale(2);
    opacity: 0;
  }
  70% {
    transform: translateX(0) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

#navbar {
  width: 100%;
  border-bottom: none;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #4a1b10 10px,
    #4a1b10 20px
  );
  background-size: 100% 4px;
  background-position: bottom;
  background-repeat: repeat-x;
  display: flex;
  justify-content: space-between;
}

#navbar img {
  height: 8vh;
  margin: 1vh;
}

#navbar a {
  height: 8vh;
  display: flex;
  align-items: center;
  margin: 1vh;
}

#navbar h1 {
  margin-right: 2vw;
  color: #8f3f2b;
}

body {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: #f5d8bf;
    font-family: 'pirata', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.playing-stage {
    width:50vh;
    height:35vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap: 5vh;
    border: #6e1919 5px dotted;
    margin: 20px;
}

.choices {
    display:flex;
    text-align: center;
    gap:7vh;
}

.title {
    display:flex;
    text-align: center;
    gap:7vh;
    margin-bottom: 0px;
    font-size: 50px;
    color: #4a1b10;
}

.choice {
    width: 100px;
    height: auto;
}

button {
    width:80px;
    height:80px;   
    border-radius:50%;
}

#rock, #paper, #scissors {
    font-weight:bolder;
    color: #ffffff;
    font-size:15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-color: #ccc;
    cursor: pointer;
}

#rock {
    background-color: #3B3A36;
    border: #8B4513 3px solid;
}

#paper {    
    background-color: #7c7150;
    border: #8B4513 3px solid;  
}

#scissors {
    background-color: #5a5b51;
    border: #8B4513 3px solid;
}